header, section, footer
{
  width: 960px;
  margin: auto;
}

aside
{
  float: left;
  position: fixed;
  top: 80px;
}

#pagenav li
{
  list-style-type: none;
}

/* Setup style information */
html
{
  font: 18px / 25pt 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5
{
  font-family: 'Source Code Pro', sans-serif;
}
h1 {margin: 0 0 0.75em; font-size: 2em;}
h2 {margin: 0 0 1em; font-size: 1.5em;}
h3 {margin: 0 0 1.286em; font-size: 1.167em;}
h4 {margin: 0 0 1.5em; font-size: 1em;}
h5 {margin: 0 0 1.8em; font-size: .834em;}
h6 {margin: 0 0 2em; font-size: .75em;}


/* weird style hacks */

#logo
{
  height: 60px;
  width: 60px;
  background-color: black;
  color: white;
}
header h5
{
  line-height: 1.3em;
}
.reversed /* reverse the copyright logo to make copyleft logo */
{
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
  transform:rotateY(180deg);
  display: inline-block;
}
footer nav li
{
  display: inline-block;
}
